html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* text-align: center; */
  color: #202020;
}

h1 {
  color: #271073;
  font-size: 12vh;
  text-decoration: underline #271073 6px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
}

.nav {
  background-color: #ffdc6a;
  padding: 20px 10px;
}

.intro {
  height: 93vh;
  padding: 20px 10px;
  background-color: #fceed1;
  text-align: center;
  /* background: rgb(186,240,211);
  background: linear-gradient(0deg, rgba(186,240,211,1) 0%, rgba(139,240,186,1) 25%); */
}

.contact {
  padding: 20px 10px;
  background-color: #fceed1;
  text-align: center;
}

.skills, .about {
  background: rgb(31,19,70);
  background: linear-gradient(0deg, rgba(31,19,70,1) 0%, rgba(27,14,70,1) 25%);
  padding: 20px 10px;
}

.projects {
  padding: 20px 20px;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.intro-text {
  width: 100vw;
}

.intro-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.intro-icons a {
  margin: 10px 0px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
  padding: 10px 2vw;
  position: fixed;
  right: 0vw;
  left: 0vw;
  width: 100vw;
}

.nav p {
  color: #271073;
  /* text-decoration: underline #271073 2px; */
  margin: 0px 10px;
}

.nav a {
  color: #271073;
  border: solid #271073 2px;
  padding: 4px 4px;
  border-radius: 10px;
  margin: 0px 10px;
}

.typewriter {
  font-size: 5vh;
}

.skills img {
  width: 8vw;
  height: auto;
}

.tech-icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tech-icon-circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fceed1;
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
  margin: 20px 20px;
}

.about {
  padding: 40px 0px;
  border: solid 4px #ffdc6a;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.about-text {
  width: 40vw;
  padding: 0px 30px;
  border: solid 4px #ffdc6a;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.about-text div {
  margin: 20px auto;
  line-height: 25px;
  text-align: left;
  color: #fceed1;
}

.about-text h2 {
  color: #ffdc6a;
  font-size: 6vh;
}

.kiran-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-image: url("../public/white-dots.png"); */
  background-color: #fceed1;
  /* background-repeat: no-repeat;
  background-size: 35vw 35vw; */
  border-radius: 50%;
  width: 31vw;
  height: 31vw;
}

.kiran-container img {
  width: 30vw;
  height: auto;
  border-radius: 50%;
}

.projects h2 {
  text-decoration: underline #ffdc6a 4px;
  color: #271073;
  font-size: 6vh;
}

.project-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.project-title h3 {
  margin: 10px 0px;
  margin-right: 5px;
  color: #271073;
  font-size: 4vh;
}

.project-title img {
  width: 40px;
  height: auto;
}

.project-description {
  margin: 10px 0px;
  line-height: 25px;
  text-align: left;
  width: 50vw;
}

.project-tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0px;
  font-style: italic;
  width: 50vw;
  background-color: #ffdc6a;
  padding: 10px 10px;
  border-radius: 10px;
  line-height: 25px;
}

.project-tech img {
  margin-right: 10px;
}

.project-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 10px 0px;
}

.fitome-multi {
  margin-top: 5px;
}

.skills {
  text-align: center;
  border: solid 4px #ffdc6a;
  border-left: none;
  border-right: none;
}

.skills h2 {
  text-decoration: underline #271073 4px;
  color: #ffdc6a;
  font-size: 6vh;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact h2 {
  text-decoration: underline #ffdc6a 4px;
  margin-bottom: 20px;
  color: #271073;
  font-size: 6vh;
}

.contact h3 {
  width: 70vw;
  margin-bottom: 20px;
  line-height: 25px;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-icons img {
  margin: 0px 10px;
}

footer {
  background-color: #ffdc6a;
  text-align: center;
  padding: 5px 5px;
  color: #271073;
  font-size: 2.5vh;
}