html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  /* cursor: url("../public/cursor-new.png"), auto; */
  scroll-behavior: smooth;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* text-align: center; */
  color: #202020;
}

h1 {
  color: #271073;
  font-size: 5rem;
  margin-bottom: .5vh;
}

h2 {
  margin: 3vh 0vw;
  font-size: 2.45rem;
}

.nav {
  background-color: #ffdc6a;
  padding: 1.25vh 2vw;
  z-index: 1;
}

.intro {
  min-height: 92vh;
  padding: 6vh 6vw;
  background: rgb(252,238,209);
  /* background: linear-gradient(0deg, rgba(252,238,209,1) 0%, rgba(251,230,192,1) 25%); */
  text-align: center;
  background: linear-gradient(-45deg, #ffdc6a, #fceed1, #ffdc6a, #fceed1);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  /* background: rgb(186,240,211);
  background: linear-gradient(0deg, rgba(186,240,211,1) 0%, rgba(139,240,186,1) 25%); */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contact {
  /* min-height: 40vh; */
  padding: 6vh 6vw;
  background: rgb(252,238,209);
  background: linear-gradient(0deg, rgba(252,238,209,1) 0%, rgba(251,230,192,1) 25%);
  text-align: center;
}

.skills, .about {
  /* min-height: 90vh; */
  background: rgb(31,19,70);
  background: linear-gradient(0deg, rgba(31,19,70,1) 0%, rgba(27,14,70,1) 25%);
  padding: 6vh 6vw;
}

.about {
  padding: 8vh 6vw;
}

.projects {
  /* min-height: 90vh; */
  padding: 6vh 6vw;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding-top: 8vh; */
}

.intro-text {
  width: 100vw;
}

.intro-icons {
  position: absolute;
  left: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-width: 20px; */
}

.intro-icons a {
  margin: 4vh 0vw;
}

.down-arrow {
  position: absolute;
  bottom: 10vh;
  animation: updown 1s ease infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-10%);
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  /* padding: 10px 2vw; */
  position: fixed;
  right: 0vw;
  left: 0vw;
  width: 100vw;
  font-size: 1rem;
}

.nav a {
  color: #271073;
  /* text-decoration: underline #271073 2px; */
  margin: 0vh 1vw;
}

.cv-download {
  color: #271073;
  border: solid #271073 2px;
  padding: 7px 7px;
  border-radius: 10px;
  margin: 0vh 1vw;
}

.typewriter {
  font-size: 2.25rem;
}

.skills img {
  width: 6vw;
  height: auto;
  min-width: 60px;
}

.tech-icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tech-icon-circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(252,238,209);
  background: linear-gradient(0deg, rgba(252,238,209,1) 0%, rgba(251,230,192,1) 25%);
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  min-width: 100px;
  min-height: 100px;
  margin: 1.5vh 1.5vh;
}

.about {
  border: solid 4px #ffdc6a;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.about-text {
  width: 40vw;
  min-width: 300px;
  padding-left: 2vw;
  border: solid 4px #ffdc6a;
  border-top: none;
  border-right: none;
  border-bottom: none;
  /* margin: 0 auto; */
  line-height: 1.5rem;
}

.about-text div {
  margin: 1.5vh auto;
  /* line-height: 2.5vh; */
  text-align: left;
  color: #fceed1;
  font-size: 1rem;
}

.about-text h2 {
  color: #ffdc6a;
}

.kiran-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-image: url("../public/white-dots.png"); */
  background: #ffdc6a;
  /* background: linear-gradient(0deg, rgba(252,238,209,1) 0%, rgba(251,230,192,1) 25%); */
  /* background-repeat: no-repeat;
  background-size: 35vw 35vw; */
  border-radius: 50%;
  width: 31vw;
  height: 31vw;
  min-width: 270px;
  min-height: 270px;
  margin: 2vh 2vh;
}

.kiran-container img {
  width: 29vw;
  height: auto;
  min-width: 250px;
  min-height: 250px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.kiran-container img:hover {
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
  transition: filter .3s;
}

.projects h2 {
  text-decoration: underline #ffdc6a 4px;
  color: #271073;
  margin-bottom: 3vh;
  text-align: center;
}

.project-left-content {
  background: rgb(252,238,209);
  background: linear-gradient(0deg, rgba(252,238,209,1) 0%, rgba(251,230,192,1) 25%);
  /* border-radius: 20px; */
  padding: 3.5vw 3.5vw;
  /* padding-top: 0vh; */
  min-width: 300px;
  max-width: 50vw;
  margin-bottom: 3vh;
  box-shadow: 2vw 2vw #271073;
}

.project-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* font-size: 2.2vw; */
  /* margin-top: 3vh; */
}

.project-title h3 {
  font-size: 1.75rem;
  margin-right: .7vw;
  color: #271073;
  /* font-size: 4vh; */
}

.project-title img {
  width: 25px;
  /* min-width: 25px; */
  height: auto;
  animation: updown 1s ease infinite;
}

/* .project-title img:hover {
  transform: translatey(-5px);
  transition: transform .3s;
} */

.project-description {
  margin: 10px 0px;
  /* line-height: 25px; */
  text-align: left;
  /* width: 50vw; */
  font-size: 1rem;
  margin: 2vh 0vw;
  line-height: 1.5rem;
}

.project-tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 2vh 0vw;
  font-style: italic;
  font-size: .9rem;
  /* width: 50vw; */
  background-color: #ffdc6a;
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: 600;
  line-height: 1.5rem;
  /* line-height: 25px; */
}

.project-tech p {
  color: #271073;
}

.project-tech img {
  margin-right: 1vw;
}

.multi {
  width: 30vw;
  min-width: 275px;
  height: auto;
}

.gif {
  width: 18vw;
  min-width: 200px;
  height: auto;
  border-bottom: solid 4vh #ffdc6a;
  border-radius: 10px;
}

.project-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 1vh 0vw; */
}

/* .fitome-multi {
  margin-top: 1vh;
} */

.skills {
  text-align: center;
  border: solid 4px #ffdc6a;
  border-left: none;
  border-right: none;
}

.skills h2 {
  text-decoration: underline #271073 4px;
  color: #ffdc6a;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact h2 {
  text-decoration: underline #ffdc6a 4px;
  color: #271073;
  margin-bottom: 0vh;
}

.contact h3 {
  width: 90vw;
  font-size: 1.15rem;
  margin: 5vh 0vw;
  line-height: 1.5rem;
  /* line-height: 25px; */
}

.contact-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-icons img {
  margin: 0vh 1.5vw;
  width: 40px;
  height: auto;
}

.intro-icons img {
  width: 40px;
  height: auto;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffdc6a;
  text-align: center;
  padding: 8px 8px;
  color: #271073;
  font-size: .8rem;
}

footer img {
  width: 20px;
  /* min-width: 18px; */
  height: auto;
  margin: 0vh 7px;
}

/* nav */

.cv-download:hover {
  background-color: #271073;
  color: #fceed1;
}

.nav a:hover, .hamburger-dropdown a:hover, .project-title a:hover {
  text-decoration: underline #271073 2px;
  /* cursor: url("../public/pointer-new.png"), auto; */
  cursor: pointer;
}

.fitome {
  margin-top: 7vh;
}

/* icons */
.intro-icons img:hover, .contact-icons img:hover, .initials:hover {
  transform: scale(1.2, 1.2);
  transition: transform .3s;
}

/* @media only screen and (max-width: 415px) {
  .about-text div, h2 {
    text-align: center;
  }

  .project-description {
    text-align: center;
  }

  .project-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .fitome {
    margin-top: 8vh;
  }
} */

@media only screen and (max-width: 687px) {
  .about-text div, h2 {
    text-align: center;
  }

  .project-description {
    text-align: center;
  }

  .project-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .intro-icons {
    display: none;
  }

  .nav a {
    display: none;
  }

  .hamburger-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 2vw; */
    position: fixed;
    right: 0vw;
    left: 0vw;
    width: 100vw;
    height: 6vh;
    font-size: 1rem;
    background-color: #ffdc6a;
    padding: 0vh 2vw;
    z-index: 1;
  }

  .hamburger-nav a {
    margin: 0vh 1vw;
  }

  .hamburger-nav a:hover, .hamburger-dropdown a:hover {
    /* cursor: url("../public/pointer-new.png"), auto; */
    cursor: pointer;
  }

  .hamburger-nav .cv-download {
    color: #271073;
    border: solid #271073 2px;
    padding: 7px 7px;
    border-radius: 10px;
    margin: 0vh 1vw;
  }

  .hamburger-dropdown {
    background-color: #ffdc6a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    z-index: 1;
    position: fixed;
    width: 100vw;
    top: 6vh;
  }

  .hamburger-dropdown a {
    color: #271073;
    margin: 2vh 0vw;
    font-weight: 600;
  }
}

@media only screen and (min-width: 687px) {
  .nav a {
    display: inline-block;
  }

  .hamburger-nav {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .contact-icons img {
    margin: 0vh 2vw;
  }
}

@media only screen and (max-width: 780px) {
  h1 {
    font-size: 3rem;
  }

  .typewriter {
    font-size: 1.5rem;
  }

  /* h2 {
    font-size: 1.75rem;
  }

  .project-title h3 {
    font-size: 1.5rem;
  }

  .contact h3 {
    font-size: 1rem;
  } */

  .project-left-content {
    padding: 1.5rem 1.5rem;
  }

  .contact-icons img {
    margin: 0vh 3vw;
  }
}


/* not BEM */
::-webkit-scrollbar {
  scrollbar-width: .5vw;
  width: .5vw;
}

/* not BEM */
::-webkit-scrollbar-track {
  background: transparent;
  width: .5vw;
}

/* not BEM */
::-webkit-scrollbar-thumb {
  background: #271073;
  width: .5vw;
}
