html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #202020;
}

h1 {
  color: #271073;
  font-size: 5rem;
  margin-bottom: .5vh;
}

h2 {
  margin-bottom: 6vh;
  font-size: 2.45rem;
  font-family: monospace, monospace;
}

.nav {
  background-color: #ffdc6a;
  padding: 1.25vh 2vw;
  z-index: 1;
}

.intro {
  min-height: 100vh;
  padding: 6vh 6vw;
  background: rgb(252,238,209);
  text-align: center;
  background: linear-gradient(-45deg, #ffdc6a, #fceed1, #ffdc6a, #fceed1);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contact {
  padding: 10vh 6vw;
  background: rgb(252,238,209);
  background: linear-gradient(0deg, rgba(252,238,209,1) 0%, rgba(251,230,192,1) 25%);
  text-align: center;
}

.skills, .about {
  background: rgb(31,19,70);
  background: linear-gradient(0deg, rgba(31,19,70,1) 0%, rgba(27,14,70,1) 25%);
  padding: 10vh 6vw;
  min-height: 100vh;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about {
  padding: 10vh 6vw;
}

.projects {
  padding: 10vh 6vw;
  min-height: 100vh;
  border: solid 4px #ffdc6a;
  border-right: none;
  border-left: none;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.intro-text {
  width: 100vw;
}

.intro-icons {
  position: absolute;
  left: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-icons a {
  margin: 4vh 0vw;
}

.down-arrow {
  position: absolute;
  bottom: 10vh;
  animation: updown 1s ease infinite;
}

.down-arrow img {
  width: 1.5rem;
  height: auto;
}

@keyframes updown {
  0% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-10%);
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  position: fixed;
  right: 0vw;
  left: 0vw;
  width: 100vw;
  font-size: 1rem;
}

.nav a {
  color: #271073;
  margin: 0vh 1vw;
}

.cv-download {
  color: #271073;
  border: solid #271073 2px;
  padding: 7px 7px;
  border-radius: 10px;
  margin: 0vh 1vw;
}

.typewriter {
  font-size: 2.25rem;
  font-family: monospace, monospace;
}

.skills img {
  width: 6vw;
  height: auto;
  min-width: 60px;
}

.tech-icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tech-icon-circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(252,238,209);
  background: linear-gradient(0deg, rgba(252,238,209,1) 0%, rgba(251,230,192,1) 25%);
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  min-width: 100px;
  min-height: 100px;
  margin: 1.5vh 1.5vh;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.about-text {
  width: 40vw;
  min-width: 480px;
  padding-left: 3vw;
  border: solid 4px #ffdc6a;
  border-top: none;
  border-right: none;
  border-bottom: none;
  margin: 2vh 0vw;
}

.about-text div {
  margin: 1.5vh auto;
  text-align: left;
  color: #fceed1;
  font-size: 1rem;
  line-height: 1.5rem;
}

.about-text h2 {
  color: #ffdc6a;
  margin-top: 1.5vh;
  margin-bottom: 3vh;
}

.kiran-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid 8px #ffdc6a;
  border-radius: 50%;
  width: 31vw;
  height: 31vw;
  min-width: 450px;
  min-height: 450px;
  margin: 2vh 0vw;
  margin-right: 2vw;
}

.kiran-container img {
  width: 29vw;
  height: auto;
  min-width: 420px;
  min-height: 420px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.kiran-container img:hover {
  -webkit-filter: none;
  filter: none;
  transition: filter .3s;
}

.projects h2 {
  color: #271073;
  text-align: center;
}

.project-left-content {
  background: rgb(252,238,209);
  background: linear-gradient(0deg, rgba(252,238,209,1) 0%, rgba(251,230,192,1) 25%);
  padding: 4vw 4vw;
  min-width: 270px;
  width: 50vw;
  box-shadow: 2vw 2vw #271073;
  margin-right: 2vw;
  margin-left: 2vw;
}

.first-project {
  margin-bottom: 5vh;
}

.fitome-gif {
  margin-top: 5vh;
}

.project-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.project-title h3 {
  font-family: monospace, monospace;
  font-size: 1.7rem;
  margin-right: .7vw;
  color: #271073;
}

.project-title img {
  width: 1.35rem;
  height: auto;
  animation: updown 1s ease infinite;
}

.project-description {
  text-align: left;
  font-size: 1rem;
  margin-top: 3vh;
  line-height: 1.5rem;
}

.project-tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 3vh 0vw;
  font-style: italic;
  font-size: .9rem;
  background-color: #ffdc6a;
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: 600;
  line-height: 1.5rem;
}

.project-tech p {
  color: #271073;
}

.project-tech img {
  width: 1.75rem;
  height: auto;
  margin-right: 1vw;
}

.multi {
  width: 30vw;
  min-width: 200px;
  height: auto;
}

.multi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gif {
  width: 18vw;
  min-width: 200px;
  height: auto;
  border-bottom: solid 4vh #ffdc6a;
  border-radius: 10px;
  margin-right: 2vw;
  margin-left: 2vw;
}

.project-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.skills {
  text-align: center;
}

.skills h2 {
  color: #ffdc6a;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 4px #ffdc6a;
  border-right: none;
  border-left: none;
}

.contact h2 {
  color: #271073;
  margin-bottom: 0vh;
}

.contact h3 {
  width: 90vw;
  font-size: 1.15rem;
  margin: 6vh 0vw;
  line-height: 1.5rem;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-icons img {
  margin: 0vh 1.5vw;
  width: 2.5rem;
  height: auto;
}

.intro-icons img {
  width: 2.5rem;
  height: auto;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffdc6a;
  text-align: center;
  padding: 8px 8px;
  color: #271073;
  font-size: .8rem;
}

footer img {
  width: 1.2rem;
  height: auto;
  margin: 0vh 7px;
}

.cv-download:hover {
  background-color: #271073;
  color: #fceed1;
}

.nav a:hover, .hamburger-dropdown a:hover, .project-title a:hover {
  text-decoration: underline #271073 2px;
  cursor: pointer;
}

.hamburger img {
  width: 1.5rem;
  height: auto;
}

.fitome {
  margin-top: 10vh;
  flex-wrap: wrap-reverse;
}

.initials img {
  width: 1.2rem;
  height: auto;
}

.intro-icons img:hover, .contact-icons img:hover, .initials:hover {
  transform: scale(1.2, 1.2);
  transition: transform .3s;
}

@media only screen and (max-width: 687px) {
  .about-text div, h2 {
    text-align: center;
  }

  .about-text {
    min-width: 270px;
    width: 80vw;
  }

  .kiran-container {
    min-width: 270px;
    min-height: 270px;
    width: 73.44vw;
    height: 73.44vw;
  }

  .kiran-container img {
    min-width: 250px;
    min-height: 250px;
    width: 68vw;
    height: 68vw;
  }

  .project-description {
    text-align: center;
  }

  .project-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .intro-icons {
    display: none;
  }

  .nav a {
    display: none;
  }

  .hamburger-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 0vw;
    left: 0vw;
    width: 100vw;
    height: 6vh;
    font-size: 1rem;
    background-color: #ffdc6a;
    padding: 0vh 2vw;
    z-index: 1;
  }

  .hamburger-nav a {
    margin: 0vh 1vw;
  }

  .hamburger-nav a:hover, .hamburger-dropdown a:hover {
    cursor: pointer;
  }

  .hamburger-nav .cv-download {
    color: #271073;
    border: solid #271073 2px;
    padding: 7px 7px;
    border-radius: 10px;
    margin: 0vh 1vw;
  }

  .hamburger-dropdown {
    background-color: #ffdc6a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    z-index: 1;
    position: fixed;
    width: 100vw;
    top: 6vh;
  }

  .hamburger-dropdown a {
    color: #271073;
    margin: 2vh 0vw;
    font-weight: 600;
  }
}

@media only screen and (min-width: 687px) {
  .nav a {
    display: inline-block;
  }

  .hamburger-nav {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .contact-icons img {
    margin: 0vh 2vw;
  }
}

@media only screen and (max-width: 780px) {
  h1 {
    font-size: 3rem;
  }

  .typewriter {
    font-size: 1.5rem;
  }

  .project-left-content {
    padding: 1.5rem 1.5rem;
  }

  .contact-icons img {
    margin: 0vh 3vw;
  }
}

::-webkit-scrollbar {
  scrollbar-width: .75vw;
  width: .75vw;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  width: .75vw;
}

::-webkit-scrollbar-thumb {
  background: #271073;
  width: .75vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(39,16,115,.9);
  width: .75vw;
}
